.newProduct{
    flex:4;
}
.addProductForm{
    margin-top: 10px;
}
.newProductItem>label{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: gray;
}
.newProductItem>input{
    height: 40px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}
.newProductItem{
    width: 400px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.newProductButton{
    width: 200px;
    border: none;
    background-color: black; 
    padding: 7px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}
.newProductButtonLink{
    color: red;
    text-decoration: none;
}
#msDiv{
    display: flex;
    flex-direction: row;
    margin-top: 15px;

}
#msLabel{
    margin-left: 10px; 
}
#nameErrorMsg,#genreErrorMsg, #yearErrorMsg, #descErrorMsg, #durationErrorMsg, #MSErrorMsg{
color: red;
/* visibility: hidden; */
display: none;
font-size: 15px; 
}